body{
    font-family: "Roboto", sans-serif;
    margin:0;
}

a {
    text-decoration: none;
}

a:link {
    color: #e5e7eb;

}

a:visited {
    color: #e5e7eb;

}

.strong{
    font-weight: 900;
}

p{
    margin: 12px 0px;
}

.logo{
    background-color: white;
    border-radius: 40%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
}

.header_radius{
    border-radius: 10%;
}

.top_right_links, .header p{
    color: #e5e7eb;
    font-size: 18px;
    font-weight:100;
}

.top_right_links{
    display: flex;
    gap:24px;
    padding:12px;
    margin-left: auto;  
}

.top_header{
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:48px;
}

.header_container{
    display: flex;
    justify-content: center;
}

.header{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    padding:12px 400px;
}

.planche_content{
    display: flex;
    justify-content: space-between;
    margin:86px 0px;
    gap:92px; /* nel caso di restringimento di pagina rimane lo spazio */
}

.text_planche_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 500px;
}

.header_button{
    background-color: #3882F6;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 10%;
    border:none;
    padding:8px 24px;
}




.title_progression{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin:36px;
}

.progression_content{
    display: flex;
    justify-content: center;
    gap:56px;
    margin-bottom:96px;
}

.img_block_progression{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: large;
    color: #1F2937;
}

.img_reflex{
    transform: scaleX(-1);
}

.progression_border{
    border:3px solid #3882F6;
    border-radius: 20%;
}





.quote_container{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding:96px 0px;
    text-align:center;
}




.signup_container{
    margin:82px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.signup_box{
    background-color: #3882F6;
    color: white;
    font-size:18px;
    padding:50px 100px;
    border-radius: 20px;
    min-width: 800px;
}

.signup_item{
    font-size: 18px;
    display: flex;
    align-items:baseline;
}

.signup_button{
    background-color: #3882F6;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    padding:8px 24px;
    border: 2px solid white;
    margin-left: auto;
}



.header_container, .footer{
    background-color: #1f2937;
}



.footer{
    text-align: center;
    color: white;
    padding:32px;
}



























